.progressbar{
	position: relative;
	overflow: hidden;
	width: 350px;
	height: 35px;
	border-radius: 5px;
	background-color: #eee;
}

.progressPercent{
	font-weight: 600;
	font-family:'Franklin Gothic Medium';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #eee;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}
.urok {
	font-size: 25px;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 5px;
}
.urok_progress {
	text-shadow:  0 0 0.31em rgb(183, 0, 255), 0 0 0.1em rgb(132, 0, 255);
}